<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <script src="lib/signalr.min.js"></script>
  <script src="lib/vue.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>MemeBoard</title>
</head>

<body>
  <div @dragenter="drag" @dragover="drag" :class="mode" id="app">
    <nav>
        <input placeholder="search ..." @keydown.enter="selected(filteredMemes[0])" type="text" v-model="filter"/>
        <div>
          <button>
            <span :class="{ rotate: this.isUploading }">⚙️</span>
          </button>
          <button @click="openWebPreview">📺</button>
          <button @click="toggleTheme">{{ modeIcon }}</button>
        </div>
    </nav>
    <br>
    <br>
    <div v-if="this.dragActive" @dragleave="drag" @drop="drag" id="dragOverlay">༼ つ ◕_◕ ༽つ GIVE MEMES ༼ つ ◕_◕ ༽つ</div>
    <ul class="items">
      <li v-for="meme in filteredMemes" :key="meme.path">
        <div @click="selected(meme)" class="memeBox" :class="{ active: meme.isActive, tts: meme.type == 'TTS' }">
          <div @click="deleteMeme(event,meme)" class="delete">❌</div>
          <img draggable="false" :title="meme.name" draggable="true" width="130" height="130" :src="meme.url"/>
          <p>{{ meme.prefix }}</p>
        </div>
      </li>
    </ul>
  </div>
  <script src="main.js"></script>
</body>
</html>
